@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-body);
    height: auto;
}

a,
a:visited {
    font-size: small;
    color: var(--dark-gray);
}

hr {
    border: 0px;
    border-top: 1px solid var(--light-gray);
}

/* Buttons */

.btn,
.btn-outline {
    cursor: pointer;
    padding: 1rem;
    border-radius: 6px;
    border: 0;

    text-decoration: none;
    font-weight: bold;
}

.btn-outline {
    border: 1px solid var(--dark-gray);
    background: transparent !important;
}

.btn.btn-primary {
    color: white !important;
    background-color: var(--primary);
}

.btn-outline.btn-primary {
    color: var(--primary) !important;
    border: 1px solid var(--primary);
}

.btn-lg {
    width: 100%;
}

/* Forms */

.form-group {
    margin-bottom: 1rem;
    border-radius: 6px;
    padding: 0.5rem;
}

.form-group-flex {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.form-group .icon {
    padding: 0 0.5rem;
}

.form-group div {
    flex-grow: 1;
}

.form-group input,
.form-group select {
    border: 0;
    background-color: transparent;
    outline: none;
    width: 100%;
}

.form-group select {
    margin-left: -5px;
}

.form-group label {
    display: block;
    font-size: smaller;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check label {
    font-size: smaller;
    cursor: pointer;
}

.form-check input[type="checkbox"] {
    cursor: pointer;

    width: 1rem;
    height: 1rem;

    margin-right: 0.5rem;
}

/* Lists */

dt {
    font-weight: bold;
}

dd:not(:last-child) {
    margin-bottom: 0.5rem;
}

/* Modal */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.4);
}

.modal-container.active {
    display: flex;
}

.modal-container .modal {
    position: relative;
    background: white;
    padding: 1.5rem;
    min-width: 300px;
}

.modal-container.active .modal {
    animation: modal 0.3s;
}

.modal-container .btn-close {
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 50%;
    border-bottom-left-radius: 6px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    position: absolute;
    right: -20px;
    top: -20px;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Dropdown */

.dropdown {
    position: relative;
    /* display: inline-block; */
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--line-gray);
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    /* display: flex; */
    flex-direction: column;
    /* padding: 0.5rem 0; */
}

.dropdown-content a {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: var(--primary);
    background: var(--light-gray);
}