@import url("./config.css");
@import url("./global.css");
@import url("./reset.css");
@import url("./custom.css");

.logo {
    font-size: 25px;
    color: var(--secondary);
}

.dashboard {
    height: 100vh;
    background: white;

    display: flex;
}

.dashboard main {
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.dashboard .content {
    flex-grow: 1;
    display: flex;
}

.add-ticket {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 1.25rem;

    background-color: var(--primary);

    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    color: white !important;

    border: none;
    border-top-left-radius: 15px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.searchbar {
    padding: 1rem;
    min-height: 8vh;

    color: var(--medium-gray);
    background-color: var(--light-gray);
    border-bottom: 1px solid var(--line-gray);

    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, auto);

    align-items: center;
    justify-content: space-between;
}

.search-field i {
    color: var(--medium-gray);
}

.search-field input {
    border: none;
    outline: none;
    background: transparent;
    color: var(--dark-gray);
}

.search-field input::placeholder {
    color: var(--medium-gray);
}

.searchbar .search-field,
.searchbar .notifications,
.searchbar .profile {
    flex-grow: 1;
}

.profile {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    color: var(--dark-gray);
}

.profile img {
    object-fit: cover;

    width: 30px;
    height: 30px;

    border-radius: 50%;
}

.sidebar {
    width: 8bh;

    padding: 1.5rem 1rem;
    border-right: 1px solid var(--line-gray);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
}

.sidebar .menu a {
    color: var(--medium-gray);
    text-decoration: none;

    padding: 1rem;
    border-radius: 8px;

    font-size: medium;
}

.sidebar .menu a.active {
    color: black;
}

.sidebar .menu a:hover {
    background-color: var(--light-gray);
}

.fixed-title {
    position: fixed;
}

.calendar-container {
    position: sticky;
    height: 92vh;
    padding: 2rem;
    border-right: 1px solid var(--line-gray);
}

.calendar-container h1 {
    font-size: 25px;
    font-weight: 600;
    padding: 0 0 3rem 0;
}

.calendar {
    border-spacing: 0;
    font-weight: 600;
    font-size: 14px;
}

.calendar th {
    font-size: 12px;
    color: var(--dark-gray);
    padding: 0 1rem 1rem 1rem;
    text-align: center;
    border-bottom: 2px solid var(--line-gray);
}

.calendar td {
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    padding: 1rem;
}

.calendar td:hover {
    background: var(--light-gray);
}

.calendar td.today {
    background: var(--line-gray);
}

.calendar .today {
    color: var(--secondary) !important;
}

.calendar .selected {
    background: var(--line-gray) !important;
}

.calendar .day-name {
    font-weight: bold;
    color: var(--dark-gray);

    margin-bottom: 1rem;
    border-bottom: 2px solid var(--line-gray);
}

.calendar .apppointments {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 0.2rem;
    margin-top: 0.3rem;
}

.calendar .apppointments span {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--secondary);
}

.tickets-container {
    flex-grow: 1;
    height: 92vh;
    padding: 2rem 0;

    overflow-y: auto;
}

.tickets-container h1 {
    font-size: 25px;
    font-weight: 600;
    padding: 0 2rem 1rem 2rem;
}

.tickets {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.ticket {
    cursor: pointer;
    padding: 2rem;

    display: flex;
    gap: 1rem;

    border: 1px solid transparent;
}

.ticket:hover {
    background: var(--light-gray);
    border: 1px solid var(--line-gray);
}

.ticket .code {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
