:root {
    --profile-size: 120px;
    --profile-size-md: 60px;
    --profile-size-sm: 45px;
    --profile-size-xs: 30px;
}

.profile-img {
    object-fit: cover;

    width: var(--profile-size);
    height: var(--profile-size);

    border-radius: 50%;
}

.profile-sm {
    width: var(--profile-size-sm);
    height: var(--profile-size-sm);
}

.profile-xs {
    width: var(--profile-size-xs);
    height: var(--profile-size-xs);
}